# Port number
PORT=3000

MAIN_SITE_URL=https://domain-site.com

LOG_CONFIGURATION_SUCCESS=true
# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/academydb

# JWT
# JWT secret key
JWT_SECRET="zhnEEbErYlHE**&9iC5tIFV@m7cS6ecOOkJnFMpry03NHKazOZj9KG4ouhR4RV3ocyQv-"
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=240
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
SMTP_HOST=mail.mail.com
SMTP_PORT=465
SMTP_USERNAME=testemail@mail.com
SMTP_PASSWORD=password-mail.
EMAIL_FROM=testemail@mail.com


